
extends ../layouts/LayoutTheme
include ../mixins/home/landing/HeroHeader
include ../mixins/home/landing/Services
include ../mixins/home/landing/Projects
include ../mixins/home/landing/Contact
include ../mixins/home/landing/Footer
include ../mixins/home/landing/Goup

include ../Variables

prepend scripts
    
append content
	doctype html
	html()&attributes(attrsHtml)
		head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='viewport' content='width=device-width, initial-scale=1')

		= '\n\n'
		// ===============================================
		//    Document Title
		// ===============================================
		title=title

		= '\n\n'
		// ===============================================
		//    Favicons
		// ===============================================
		block favicon
			link(rel="apple-touch-icon" sizes="180x180", href=`${CWD}assets/img/favicons/apple-touch-icon.svg`)
			link(rel="icon" type="image/png" sizes="32x32", href=`${CWD}assets/img/favicons/favicon-32x32.svg`)
			link(rel="icon" type="image/png" sizes="16x16", href=`${CWD}assets/img/favicons/favicon-16x16.svg`)
			link(rel="shortcut icon" type="image/svg+xml", href=`${CWD}assets/img/favicons/favicon.svg`)
			link(rel="manifest", href=`${CWD}assets/img/favicons/manifest.json`)
			meta(name='msapplication-TileImage', content=`${CWD}assets/img/favicons/mstile-150x150.svg`)
			meta(name="theme-color" content="#ffffff")

		block headScripts

		= '\n\n'
		// ===============================================
		//    Stylesheets
		// ===============================================

		block styles
			+ThemeStyle
			link(href=`${CWD}my_style/gallery.css`, type="text/css", rel="StyleSheet", media="screen")
			link(href=`${CWD}my_style/gallery-grid.css`, type="text/css", rel="StyleSheet", media="screen")
			link(href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css", type="text/css", rel="StyleSheet", media="screen")

		= '\n\n'
		body
			+NavbarHidroingelec
			- var all_img = 3
			section.py-0#videos
				.container.p-2
					.row.align-items-center.min-vh-75.min-vh-lg-100
						.col-lg-9.mx-auto.text-center.mb-3.pt-8
							h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Galería
							div(class="container gallery-container")
								div(class="tz-gallery")
									.row.g-5
										- for (var i=1; i<=all_img; i++)
											a(class="lightbox", href=`${CWD}assets/img/gallery/`+i+".jpg")
												//+GallCard({href : `${CWD}assets/img/gallery/`+i+".jpg"})
												img(src=`${CWD}assets/img/gallery/`+i+".jpg", alt="Imagen")
							script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
							script.
								baguetteBox.run('.tz-gallery');

			+Footer
			+Goup
