
extends ../layouts/LayoutTheme
include ../mixins/home/landing/HeroHeader
include ../mixins/home/landing/Services
include ../mixins/home/landing/Projects
include ../mixins/home/landing/Contact
include ../mixins/home/landing/Footer
include ../mixins/home/landing/Goup

include ../Variables

prepend scripts
    
append content
	doctype html
	html()&attributes(attrsHtml)
		head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible' content='IE=edge')
			meta(name='viewport' content='width=device-width, initial-scale=1')


		= '\n\n'
		// ===============================================
		//    Document Title
		// ===============================================
		title=title


		= '\n\n'
		// ===============================================
		//    Favicons
		// ===============================================
		block favicon
			link(rel="apple-touch-icon" sizes="180x180", href=`${CWD}assets/img/favicons/apple-touch-icon.svg`)
			link(rel="icon" type="image/png" sizes="32x32", href=`${CWD}assets/img/favicons/favicon-32x32.svg`)
			link(rel="icon" type="image/png" sizes="16x16", href=`${CWD}assets/img/favicons/favicon-16x16.svg`)
			link(rel="shortcut icon" type="image/svg+xml", href=`${CWD}assets/img/favicons/favicon.svg`)
			link(rel="manifest", href=`${CWD}assets/img/favicons/manifest.json`)
			meta(name='msapplication-TileImage', content=`${CWD}assets/img/favicons/mstile-150x150.svg`)
			meta(name="theme-color" content="#ffffff")


		block headScripts

		= '\n\n'
		// ===============================================
		//    Stylesheets
		// ===============================================

		block styles
			+ThemeStyle
			link(href=`${CWD}my_style/video-style.css`, type="text/css", rel="StyleSheet", media="screen")
			link(href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css", type="text/css", rel="StyleSheet", media="screen")

		= '\n\n'
		body
			+NavbarHidroingelec
			section.py-0#videos
				.container.p-6
					.row.align-items-center.min-vh-75.min-vh-lg-100
						.col-lg-9.mx-auto.text-center.mb-3.pt-8
							h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Vídeos
								
								each val in video_list
									div(class="video-containerr")
										div(class="playback-animation", id="playback-animation")
											svg(class="playback-icons")
												use(class="hidden", href="#play-icon")
												use(href="#pause")
										h6.fs-1.fs-lg-2.lh-sm.text-center.mb-3= val.text
										if (val.post) 
											video(controls class="video", id="video", preload="metadata", poster=`${CWD}assets/`+"video/"+val.img+"")
												source(src=`${CWD}assets/`+"video/"+val.src+".mp4", type="video/mp4")
										else
											video(controls class="video", id="video", preload="metadata")
												source(src=`${CWD}assets/`+"video/"+val.src+".mp4", type="video/mp4")
										div(class="video-controls hidden", id="video-controls")
											div(class="video-progress")
												progress(id="progress-bar", value="0", min="0")
												input(class="seek", id="seek", value="0", min="0", type="range", step="1")
												div(class="seek-tooltip", id="seek-tooltip") 00:00
											div(class="bottom-controls")
												div(class="left-controls")
													button.video(data-title="Play (k)", id="play")
														svg(class="playback-icons")
															use(href="#play-icon")
															use(class="hidden", href="#pause")
												div(class="volume-controls")
													button.video(data-title="Mute (m)", class="volume-button", id="volume-button")
														svg
															use(class="hidden", href="#volume-mute")
															use(class="hidden", href="#volume-low")
															use(href="#volume-high")
													input(class="volume", id="volume", value="1", data-mute="0.5", type="range", max="1", min="0", step="0.01")
												div(class="time")
													time(id="time-elapsed") 00:00
													span
													time(id="duration") 00:00
											div(class="right-controls")
												button(data-title="PIP (p)", class="pip-button", id="pip-button")
													svg
														use(href="#pip")
												button.video(data-title="Full screen (f)", class="fullscreen-button", id="fullscreen-button")
													svg
														use(href="#fullscreen")
														use(href="#fullscreen-exit", class="hidden")
								div(class="restaurar")
			+Footer
			+Goup
