
mixin Items(config)
	.col-md-4.mb-5.mb-md-0
		.card.h-100.shadow
			.card-body.my-3      
				.align-items-xl-center.d-block.d-xl-flex.px-3
					img(src=`${CWD}assets/img/gallery/${config.image}` width="50" alt='').img-fluid.me-3.me-md-2.me-lg-3
					.flex-1.align-items-center.pt-2
						h5.mb-0.fw-bold.text-success=config.name
						p.fw-normal.text-black=config.designation
				p.mb-0.px-3.px-md-2.px-xxl-3=config.text    


mixin ProjCard(config)
	.col-md-9.mb-5.justify-content-center
		.card.text-white
			img.card-img(src=`${CWD}assets/img/gallery/${config.image}` alt='...')
			.card-img-overlay.d-flex.flex-column.justify-content-center.px-5.px-md-3.px-lg-5(class=`${config.bg}`)
				h6.text-white.pt-2=config.title
				hr.text-white(style='height:0.12rem;width:2.813rem')
				.pt-lg-3
					h6.fw-bold.text-white.fs-1.fs-md-2.fs-lg-3.w-xxl-50=config.subTitle
					p.w-xxl-75=config.text
					button.btn.btn-light.text-success(type='button')=config.btnText
    
mixin Projects
	section.py-8#projects
		.container-lg
			.row.flex-center
				.col-lg-9.mx-auto.text-center.mb-3
					h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Proyectos
        
		    
				#carouselExampleDark.carousel.slide(data-bs-ride='carousel').pt-3
					.carousel-inner
						.carousel-item.active(data-bs-interval='10000')
							.row.h-100.mx-3.mx-sm-5.mx-md-4.my-md-7.m-lg-7.mt-7
								+ProjCard(iten1)
					      
						.carousel-item(data-bs-interval='2000')
							.row.h-100.mx-3.mx-sm-5.mx-md-4.my-md-7.m-lg-7.mt-7
								+ProjCard(iten2)
						.carousel-item
							.row.h-100.mx-3.mx-sm-5.mx-md-4.my-md-7.m-lg-7.mt-7
								+ProjCard(iten3)
					.row.px-3.px-sm-6.px-md-0.px-lg-5.px-xl-4
						.col-12.position-relative
							a.carousel-control-prev.carousel-icon.z-index-2(href='#carouselExampleDark' role='button' data-bs-slide='prev')
								span.carousel-control-prev-icon(aria-hidden='true')
								span.visually-hidden Previous
							a.carousel-control-next.carousel-icon.z-index-2(href='#carouselExampleDark' role='button' data-bs-slide='next')
								span.carousel-control-next-icon(aria-hidden='true')
								span.visually-hidden Next
